<!DOCTYPE html>
<html>
<head>
    {{> common/header}}
</head>
<body>
<div id="all">
    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">

            {{> common/menu}}

            <div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
                <div class="small-navbar visible-xs">
                    <button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left"> <i class="fa fa-align-left"> </i>Menu</button>
                    <h1 class="small-navbar-heading"> <a href="index.html">Creative </a></h1>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="content-column-content">
                            <h1>Join</h1>
                            <form id="contact-form" method="post" action="/register" class="contact-form form">
                                <div class="controls">

                                    <div class="form-group input-group col-md-8">
                                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
                                        <input type="username" name="username" id="username" required="required" value="{{user.username}}" class="form-control" placeholder="Email Address">
                                    </div>

                                    {{#if username}}
                                    <div class="form-group">
                                        <label class="bg-danger text-danger" for="username">{{username}}</label>
                                    </div>
                                    {{/if}}


                                    <div class="form-group input-group col-md-8">
                                        <span class="input-group-addon"><i class="fa fa-id-card-o fa-fw" aria-hidden="true"></i></span>
                                        <input type="name" name="name" id="name" required="required" value="{{user.name}}" class="form-control" placeholder="Nick Name">
                                    </div>

                                    {{#if name}}
                                    <div class="form-group">
                                        <label class="bg-danger text-danger" for="name">{{name}}</label>
                                    </div>
                                    {{/if}}

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group input-group">
                                                <div class="form-group input-group col-md-12">
                                                    <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                                                    <input size="80" type="password" name="password" id="password" required="required" class="form-control" placeholder="Password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group input-group">
                                                <div class="form-group input-group col-md-12">
                                                    <span class="input-group-addon"><i class="fa fa-lock fa-fw" aria-hidden="true"></i></span>
                                                    <input size="80" type="confirmPassword" name="confirmPassword" id="confirmPassword" required="required" class="form-control" placeholder="Confirm Password">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {{#if password or confirmPassword}}
                                    <div class="form-group">
                                        {{#if password}}
                                        <label class="bg-danger text-danger" for="password">{{password}}</label>
                                        {{/if}}
                                        {{#if confirmPassword}}
                                            <label class="bg-danger text-danger" for="confirmPassword">{{confirmPassword}}</label>
                                        {{/if}}
                                    </div>
                                    {{/if}}



                                    <div>
                                        <input type="submit" value="Send" class="btn btn-ghost">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

</body>
</html>